*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    max-width: 1440px;
    width: 100%;
    min-height: 100%;
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
    background-color:  hsl(0, 0%, 100%);
    z-index: -1;
    overflow-x: hidden;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.card-container{
    position: relative;
    height: 100vh;
}

.card-container .front-card-div{
    position: relative;
    width: 325px;
    height: 300px;
    top: 100px;
    left: 100px;
    background: url(../images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: hsl(0, 0%, 100%);
    padding:  6.5rem 2.2rem 2rem 1.9rem;
}

.card-container .front-card-div .flex-display{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-container .front-card-div #card-number-display{
    font-size: 1.4rem;
}

.card-container .front-card-div .flex-display p{
    font-size: .8rem;
}

.card-container .front-card-div::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    background-image: url(../images/card-logo.svg);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.card-container .back-card-div{
    position: relative;
    width: 325px;
    height: 300px;
    top: 20px;
    left: 175px;
    background: url(../images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    color: #fff;
}

.card-container .back-card-div #cvc-display{
    position: absolute;
    top: 80px;
    right: 35px;
    font-size: .8rem;
}

form{
    display: grid;
    justify-content: start;
    max-width: 50%;
    gap: 10px;
}

form label{
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-size: .8rem;
}

form input{
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    margin-bottom: 5px;
}

.error{
    border: 1px solid hsl(0, 100%, 66%);
    margin-bottom: 0;
}

.error-message{
    color:hsl(0, 100%, 66%);
    font-size: .8rem;
}

form .expiration-date{
    width: 45%;
    gap: 5px;
}

form .flex {
    display: flex;
    align-items: center;
}
  
form .date-container {
    display: flex;
    flex-direction: column;
}
  
form .cvc-container {
    display: flex;
    flex-direction: column;
}
  
form input::placeholder{
    color: hsl(270, 3%, 87%);
}

form button{
    padding: 10px;
    border-radius: 5px;
    background:hsl(278, 68%, 11%);
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.form-container .thank-you-div{
    background-image: url(../images/icon-complete.svg);
    background-repeat: no-repeat;
    background-position: center 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 7rem;
}

.form-container .thank-you-div #thank-you-header{
    color: hsl(278, 68%, 11%);
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
}

.form-container .thank-you-div p{
    color:hsl(270, 3%, 87%);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.form-container .thank-you-div #continue{
    padding: 10px;
    border-radius: 5px;
    background:hsl(278, 68%, 11%);
    border: none;
    color: hsl(0, 0%, 100%);
    width: 75%;
    cursor: pointer;
}

.form-container .hidden{
    display: none;
}

@media (min-width: 375px) and (max-width: 479px){
    body{
        background-image: url(../images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: initial;
        z-index: 0;
    }
    main{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .card-container{
        padding: 20px;
        height: fit-content;
        width: 100%;
        margin-bottom: 10px;
    }
    .card-container .front-card-div{
        left: 10px;
        top: 120px;
        z-index: 1;
    }
    .card-container .back-card-div{
        position: absolute;
        left: 40px;
        top: 45px;
        z-index: 0;
    }
    form{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding: 40px 0;
    }
    form label{
        font-size: .7rem;
    }
    form input{
        align-self: center;
        margin-bottom: 5px;
        z-index: 1;
    }
    form input::placeholder{
        font-size: .7rem;
    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-container .thank-you-div{
        padding: 7rem 1rem;
    }
    .form-container .thank-you-div #thank-you-header{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .form-container .thank-you-div p{
        text-align: center;
        font-size: 1rem;
        color: hsl(279, 6%, 55%);
    }
}

@media (min-width: 480px) and (max-width: 576px){
    body{
        background-image: url(../images/bg-main-mobile.png);
        background-attachment: initial;
        background-size: contain;
        width: 100%;
    }
    main{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        height: auto;
        gap: 50px;
    }
    .card-container{
        padding: 0 40px;
        width: 100%;
        height: fit-content;
        margin-bottom: 60px;
    }
    .card-container .front-card-div{
        left: 40px;
        top: 150px;
        z-index: 1;
        margin: 0 auto;
    }
    .card-container .back-card-div{
        position: absolute;
        top: 50px;
        left: 70px;
        z-index: 0;
    }
    form{
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
        margin-bottom: 20px;
    }
}


@media (min-width: 768px) and (max-width: 1080px){
    .card-container .front-card-div{
       top: 20px;
       left: 60px;
    }
    .card-container .back-card-div{
        position: absolute;
        top: 230px;
        left: 90px;
    }
    form{
        max-width: 500px;
        width: 100%;
        padding: 0 60px;
        margin: 0 auto;
    }
}